/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.uabb-image-carousel .slick-arrow {
  background-color: transparent !important;
}
#gform_23 select {
  border: 1px solid #e1e1dd !important;
  background-color: #f7f7f5;
}
header .uabb-photo-img {
  max-height: initial !important;
}
header #menu-top-bar-nav p.inline_address {
  margin-bottom: 0px;
}
header #menu-top-bar-nav a {
  color: #f9f9f9 !important;
}

header #menu-top-bar-nav a:hover,
header #menu-top-bar-nav a:hover * {
  text-decoration: underline !important;
}

.uabb-image-carousel .slick-arrow i {
  color: #000 !important;
}
.slick-list .slick-track > div img {
  width: 100% !important;
}
.text-icon .fl-module-content .storename li .address::before {
  content: "\ea7d";
  font-family: "Ultimate-Icons" !important;
  font-size: 1.3em;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
  width: auto;
}
h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
  text-transform: capitalize !important;
}
.text-icon .fl-module-content .fl-rich-text p {
  display: inline-block;
}
.fl-module-rich-text .fl-module-content ul.storename li .direction a {
  width: 200px;
}
div.gform_wrapper .gfield_time_ampm select {
  max-width: 8rem !important;
  width: calc(5rem + 20px) !important;
  -webkit-appearance: none;
  background-image: url("https://assuredflooring.ca/wp-content/uploads/2020/01/drop-down-arrow.png");
  background-position: 91%;
  background-size: 8px;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px;
}
div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
  max-width: 8rem !important;
}
.storename li .phone a span:before,
footer .storename li .phone a span:before {
  font-size: 18px;
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px !important;
}
#responsive-menu-additional-content .phone a {
  line-height: 40px;
  color: #fff !important;
}
footer .storename li .phone a span:before {
  font-size: 18px !important;
  margin-right: 14px;
}
footer .storename li .phone a span {
  font-size: 16px;
}
footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #fff;
}
footer .storename {
  padding-left: 10px !important;
}
footer .fa-phone-alt {
  display: none;
}
.fl-module-content .storename li .address a {
  color: #025605;
}
.fl-module-content .storename li .address a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .message a:hover {
  color: #000;
}
.fl-module-content .fl-rich-text .storename li .phone a span:hover {
  color: #000;
}
.store-opening-hrs-container ul.store-opening-hrs {
  padding-left: 20px !important;
}
.store-opening-hrs-container ul.store-opening-hrs li {
  list-style: none;
  position: relative !important;
}
.store-opening-hrs-container ul.store-opening-hrs li span {
  position: absolute !important;
  left: 200px !important;
}
.color .fl-icon-text.fl-icon-text-wrap {
  padding-left: 0px !important;
}
div.text,
div.number {
  display: inline-block;
}
ul.social-icons {
  text-align: center;
}
.gform_wrapper .gfield_checkbox li input[type="checkbox"] {
  margin-top: 0px !important;
}
footer .storename li .phone a:before {
  content: " ";
  display: none;
}
.footermenu li.menu-item a {
  font-size: 14px;
  line-height: 20px;
}
.uabb-infobox-button .uabb-creative-button-text ~ i.ua-icon-arrow-down:before {
  font-size: 0;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
}
.uabb-infobox-button
  .uabb-creative-button-has-icon
  a.uabb-none-btn:hover
  i.ua-icon-arrow-down:before {
  font-size: 1em;
}
.gform_footer .gform_button {
  padding: 12px 20px !important;
  max-width: 160px !important;
  width: 100% !important;
}

footer a:hover {
  opacity: 0.8;
}
header .fl-page-header-logo a img {
  max-height: 70px !important;
}
.facetwp-facet-collection .fs-dropdown {
  background: #f9f9f8 !important;
}

.storename .address a p {
  margin-bottom: 0px !important;
}
.gfield input[type="text"] {
  width: 100% !important;
}
.copyright-sec-row,
.copyright-sec-row a {
  font-size: 12px !important;
}
.fl-content-slider-navigation .slider-next,
.fl-content-slider-navigation .slider-prev {
  background: #000;
  padding: 12px !important;
}
.gfield_time_hour i {
  margin-top: 0px !important;
}
.gfield_time_ampm select {
  min-width: 60px !important;
  padding: 5px 10px !important;
}
.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #000;
  color: #000;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #000;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}

.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}

.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    padding: 12px;
}
.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #025605!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #047f04!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}
.fl-page-bar ul#menu-top-bar-nav > li {
  margin: 0px 4px;
}

.fl-page-bar ul#menu-top-bar-nav p.inline_address {
  margin: 0px;
}

.fl-page-bar ul#menu-top-bar-nav a:hover {
  text-decoration: underline;
}
.rmp-menu-additional-content .storename .phone a {
  color: #fff;
}


#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #025605;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #047f04 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #000000 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #000000 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #047f04 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #000000 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #000000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #047f04 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #000000 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #047f04 !important;
}

@media (max-width: 1200px) {
  .fl-page-bar ul#menu-top-bar-nav > li:nth-child(1),
  .fl-page-bar ul#menu-top-bar-nav > li:nth-child(2) {
    display: none !important;
  }
  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  .fl-page-nav-search {
    display: none;
  }
}

@media (max-width: 1075px) {
  #menu-main-menu li a {
    padding: 14px 7px !important;
  }
}
@media (max-width: 1024px) {
  #menu-top-bar-nav > li:first-child,
  #menu-top-bar-nav > li:nth-child(2) {
    display: none !important;
  }

  header .uabb-photo-img {
    max-height: initial !important;
    max-width: 200px !important;
  }

  .fl-page-header-logo-col ~ .fl-page-nav-col .fl-page-nav-wrap,
  .fl-page-nav-right.fl-page-header-fixed,
  .fl-page-header-fixed {
    display: none !important;
  }
  #responsive-menu-container div#responsive-menu-additional-content,
  #responsive-menu-container div#responsive-menu-search-box {
    padding: 5px 5%;
  }
  #responsive-menu-additional-content .storename li .phone a:before {
    margin-right: 5px !important;
  }
}

@media (max-width: 1180px) {
  .fl-page-bar ul#menu-top-bar-nav {
    display: flex;
    align-items: center;
  }

  .fl-page-bar ul#menu-top-bar-nav > li {
    max-width: 50%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .fl-page-bar ul#menu-top-bar-nav > li .inline_address {
    margin-bottom: 0px !important;
  }
  button#responsive-menu-button {
    top: 22px !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }
  .facet_filters {
    position: fixed;
    top: 0;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters {
    z-index: 9991 !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }

  .open_sidebar a.fl-button {
    display: inline-block !important;
  }
  .open_sidebar a {
    float: none !important;
  }
  .fa-close:before,
  .fa-remove:before,
  .fa-times:before {
    content: "\f00d";
  }
  .close .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .facet_filters .close_bar {
    display: block !important;
  }
  .col-md-5.col-sm-12.product-box > .row > div {
    margin: 0 auto !important;
    text-align: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 650px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 650px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 650px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 650px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 650px !important;
    max-height: 650px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  .fl-page-bar ul#menu-top-bar-nav > li {
    justify-content: center;
  }
  .fl-row.footer-menu,
  .fl-row.footer-menu .fl-heading {
    text-align: center !important;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .product-row > div.col-md-3:nth-child(3n + 1) {
    clear: left !important;
  }
  .flex_wrap .fl-col-group {
    display: flex;
    flex-wrap: wrap;
  }
  button#responsive-menu-button {
    top: 32px !important;
  }

  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0;
  }
  .fl-page-header-logo {
    text-align: left;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80%;
  }
  .footer-menu .fl-col-small {
    width: 25% !important;
    float: left;
    clear: none;
  }
  ul#menu-copyright-bar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .copyright-sec-row .fl-col-small {
    width: 100%;
    text-align: center;
  }
  .copyright-sec-row
    .fl-col-small:first-child
    .fl-module-html
    .fl-module-content.fl-node-content {
    margin-top: 20px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
    font-size: 14px;
  }
  footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
    margin: 0px 10px;
  }
  footer .fl-icon-text {
    padding-left: 0px;
  }
  footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
    padding-right: 15px;
  }
  /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
  .d-block .fl-row-fixed-width .fl-col-group-equal-height {
    display: block;
  }
  .fl-builder-content .fl-button i.fl-button-icon-after {
    margin-left: -8px;
  }
  .w-100 {
    width: 100%;
  }
  .max-width-issue {
    max-width: 360px !important;
    margin: 0 auto !important;
    float: none;
  }
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  .reversed .fl-col-group-responsive-reversed {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 0 0;
  }
  button#responsive-menu-button {
    top: 60px;
  }
  .uabb-photo__gallery-filters li {
    display: block;
  }
  .gform_wrapper .gfield_time_hour i {
    margin-top: 0% !important;
  }
  .rc-anchor-normal .rc-anchor-pt {
    right: 32px !important;
  }
  .rc-anchor-normal {
    width: 300px !important;
  }
  footer .storename {
    padding-left: 0 !important;
  }
  /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
  .max-width-issue > .fl-col-content.fl-node-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* Slider height issue on mobile open */

  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 500px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 9;
  }
  /* Slider height issue on mobile closed */
}

@media (max-width: 767px) {
  .footer-menu .fl-col-small {
    width: 100% !important;
  }

  .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
    max-width: 10rem !important;
    width: calc(4rem + 20px) !important;
  }
}

@media screen and (max-width: 630px) {
  .store-opening-hrs-container ul.store-opening-hrs li span {
    left: auto !important;
    right: 0px !important;
  }
}

@media screen and (max-width: 600px) {
  .w_100 {
    width: 100% !important;
  }

  ul#menu-copyright-bar-menu {
    flex-direction: column;
  }
  div.fl-module-photo-gallery .uabb-photo-gallery-item {
    width: 100%;
    height: 335px;
    margin-bottom: 20px;
  }
  .fl-builder-content div.our-services {
    width: 100% !important;
  }
  .fl-builder-content div.our-services .fl-col-content {
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
  }
}
@media (max-width: 470px) {
  #rmp_menu_trigger-1137367 {
    top: 90px !important;
  }
  header #menu-top-bar-nav p.inline_address {
    margin-top: 5px;
    line-height: 1.5 !important;
  }
}
/* @media(max-width: 430px) {
	#rmp_menu_trigger-1137367 {
		top: 65px!important;
	}
} */

@media screen and (max-width: 410px) {
  /* 	#rmp_menu_trigger-1137367 {
    top: 70px;
} */
  button#responsive-menu-button.responsive-menu-accessible {
    width: 35px;
    height: 35px;
  }
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 11px;
  }
}
@media screen and (max-width: 378px) {
  .fl-page-bar a *,
  .fl-page-bar .navbar-nav li > a {
    font-size: 10px;
  }
}
@media screen and (max-width: 374px) {
  button#responsive-menu-button.responsive-menu-accessible {
    top: 70px !important;
  }
  .max-width-issue {
    padding-left: 10px;
    padding-right: 10px;
  }
  .gform_wrapper .gfield_checkbox li input,
  .gform_wrapper .gfield_checkbox li input[type="checkbox"],
  .gform_wrapper .gfield_radio li input[type="radio"] {
    vertical-align: top !important;
  }
}

#input_23_7 {
  width: 100%;
}

@media (max-width: 345px) {
  #rmp_menu_trigger-1137367 {
    top: 115px !important;
  }
}

@media screen and (max-width: 600px) {
  #rmp-menu-wrap-1137367 .rmp-menu-item-link {
    padding-right: 20px !important;
  }
}
 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #025605 !important;
    color: #025605 !important;
}